---
import Layout from "@/layouts/Layout.astro";
import Post from "@/components/organisms/Post.astro";
import CommentArea from "@/components/molecules/CommentArea.astro";
import { getBlogDetail, getBlogs } from "@/lib/microcms";

interface pathType {
	params: {
		blogId: string;
	};
}

export const getStaticPaths = async (): Promise<pathType[]> => {
	const response = await getBlogs({ fields: ["id"] });
	return response.contents.map((content) => ({
		params: {
			blogId: content.id
		}
	}));
};

const { blogId } = Astro.params;
if (blogId === undefined) {
	return;
}

const blog = await getBlogDetail(blogId);
---

<Layout title={blog.title}>
	<Post post={blog} />
	<p class="comment-note">匿名でコメントできるよ～↓<br />（メアドはいるけど、適当で良いよ）</p>
	<CommentArea />
</Layout>

<style>
	.comment-note {
		margin-bottom: 10px;
		font-weight: bold;
	}
</style>
