---
import Base from "@/layouts/Base.astro";
---

<Base notFound ogType="article" title="404 Not Fooooooo!!" description="ページが見つかりませんでした！！！">
	<div id="contents">
		<p>ページがみつかりませんでした！</p>
	</div>
</Base>

<style>
	#contents {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
	}
</style>
