---
import Footer from "@/components/molecules/Footer.astro";
import Header from "@/components/molecules/Header.astro";
import PostList from "@/layouts/PostList.astro";
import { getListAllContents } from "@/lib/microcms";
import type { Blog } from "@/lib/microcms";
import { css } from "@/styled-system/css";

const posts = (await getListAllContents<Blog>("blogs")).filter((post) => {
	return (
		(post.category !== undefined && post.category.id !== "allergy-navi" && post.category.id !== "pixel-gives") ||
		post.category === undefined
	);
});
---

<PostList posts={posts}>
	<Header position="fixed" slot="header" />
	<div
		class={css`
			display: flex;
			justify-content: flex-end;
		`}
		slot="footer"
	>
		<Footer position="static" slot="footer" />
	</div>
</PostList>
