---
import Layout from "@/layouts/Layout.astro";
import { getBlogs } from "@/lib/microcms";

const posts = await getBlogs({ fields: ["id", "title"] });
---

<Layout>
	{
		posts.contents.map((post) => (
			<a class="post-list" href={`/${post.id}`}>
				{post.title}
			</a>
		))
	}
</Layout>

<style>
	.post-list {
		display: table;
	}
</style>
