---
import Layout from "@/layouts/Layout.astro";
---

<Layout ogType="article" title="プライバシーポリシー" description="プライバシーポリシーです。">
	<div id="contents">
		<h2>広告について</h2>
		<p>
			当サイトでは、第三者配信の広告サービス「Google Adsense」を利用していて、過去にユーザーがアクセスした際の情報を元に興味に応じた商品やサービスの広告を表示するため、Cookieを使用してます。
		</p>
		<p>
			Cookieを使用することで、当サイトはユーザーのコンピュータを識別できるようになりますが、個人を特定できるものではありません。
		</p>
		<p>
			Cookieを無効にする方法やGoogle Adsenseに関する詳細は「<a href="https://policies.google.com/technologies/ads?gl=jp" target="_blank">広告 – ポリシーと規約 – Google</a>」を確認してください。
		</p>
		<p>「<a href="https://www.google.com/settings/ads" target="_blank">広告設定</a>」とかで無効化できます。</p>
		<h2>アクセス解析ツールについて</h2>
		<p>
			当サイトでは、Googleによるアクセス解析ツール「Google アナリティクス」を利用しています。
		</p>
		<p>
			Google アナリティクスはトラフィックデータの収集のためにCookieを使用してます。トラフィックデータは匿名で収集されていて、個人を特定するものではないです。この機能はCookieを無効にすることで収集を拒否することが出来るので、使っているブラウザの設定を確認してください。
		</p>

		<h2>免責事項</h2>
		<p>
			当サイトからリンクによって他のサイトに移動した場合、移動先のサイトで提供される情報、サービス等について一切の責任を負いません。
		</p>
		<p>
			当サイトのコンテンツについて、可能な限り正確な情報を掲載するよう努めていますが、誤情報が入り込んだり、情報が古くなっている可能性も無くはないです。
		</p>
		<p>当サイトに掲載された内容によって生じた損害等の一切の責任を負わないです。</p>
		<h2>プライバシーポリシーの変更について</h2>
		<p>
			当サイトは、個人情報に関して適用される日本の法令を遵守するとともに、本ポリシーの内容を適宜見直し、改善できるよう努力します。
		</p>
		<p>修正された最新のプライバシーポリシーは常にここで見れます。</p>
	</div>
</Layout>

<style>
	#contents {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width:: 100%;
		max-width: 1000px;
		margin: 0 auto;
	}
</style>
