<header>
	<div id="title-wrap">
		<a id="title-link" href="/">
			<h1 id="title">孅いエンジニアブログ</h1>
		</a>
	</div>
</header>

<style lang="scss">
	header {
		text-align: center;
		background-color: #ed5841;

		@media (prefers-color-scheme: dark) {
			background-color: #216135;
		}

		#title-wrap {
			display: flex;
			justify-content: center;
			padding: 60px 0 62px 0;

			#title-link {
				text-decoration: none;

				#title {
					display: inline-block;
					font-size: 23px;
					font-weight: bold;
					color: white;
				}
			}
		}
	}
</style>
