<header>
	<div id="title-wrap">
		<a id="title-link" href="/">
			<h1 id="title">孅いエンジニアブログ</h1>
		</a>
	</div>
	<nav>
		<a class="header-nav-link" href="https://twitter.com/Akime_Aki" target="_blank">X / Twitter</a>
		<a class="header-nav-link" href="https://github.com/AkimeAki" target="_blank">GitHub</a>
		<a class="header-nav-link" href="https://aki.wtf" target="_blank">ポートフォリオ</a>
	</nav>
</header>

<style lang="scss">
	header {
		text-align: center;
		background-color: #ed5841;

		@media (prefers-color-scheme: dark) {
			background-color: #216135;
		}

		#title-wrap {
			display: flex;
			justify-content: center;
			padding: 30px 0 32px 0;

			#title-link {
				text-decoration: none;

				#title {
					display: inline-block;
					font-size: 23px;
					font-weight: bold;
					color: white;
				}
			}
		}

		nav {
			display: flex;
			max-width: 1240px;
			margin: 0 auto;
			justify-content: space-between;

			.header-nav-link {
				display: flex;
				position: relative;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				padding: 10px 0;
				width: 100%;
				background-color: #ed5841;
				font-size: 18px;
				color: white;
				z-index: 1;

				* {
					color: inherit;
				}

				@media (prefers-color-scheme: dark) {
					background-color: #216135;
				}

				&:after {
					position: absolute;
					display: block;
					content: "";
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
					transition-duration: 300ms;
					transition-property: opacity;
					z-index: -1;
				}

				@media (max-width: 700px) {
					font-size: 15px;
				}

				&[data-link="ai-bg"] {
					br {
						display: none;
					}

					@media (max-width: 1060px) {
						font-size: 15px;

						br {
							display: block;
						}
					}

					@media (max-width: 700px) {
						font-size: 13px;
					}
				}

				&:hover {
					&:after {
						opacity: 1;
						background-color: #f26f5b;

						@media (prefers-color-scheme: dark) {
							background-color: #316642;
						}
					}
				}

				&[href^="https://twitter.com"]
				{
					&:hover {
						&:after {
							background-color: #4593c3;
						}
					}
				}

				&[href^="https://github.com"]
				{
					&:hover {
						&:after {
							background-color: #606060;
						}
					}
				}

				&[href^="https://coffee.aki.wtf"]
				{
					&:hover {
						&:after {
							background-image: url(https://r2.coffee.aki.wtf/aydb7jwmw.png);
							background-position: center center;
						}
					}
				}
			}
		}
	}
</style>
