---
import { css, cx } from "@/styled-system/css";

interface Props {
	position: "fixed" | "static";
	pathList?: {
		name: string;
		url: string;
	}[];
}

const { position, pathList = [] } = Astro.props;
---

<header
	style={{ position: position }}
	class={css`
		padding: 30px;
		text-align: center;
		z-index: 100;
	`}
>
	<div class="title-logo">
		<div
			class={css`
				display: inline-block;
				line-height: 1.2;
			`}
		>
			<div
				class={css`
					display: inline-block;
					font-size: 23px;
					font-weight: bold;
				`}
			>
				/
			</div>
			<a href="/">
				<h1
					class={css`
						display: inline-block;
						font-size: 23px;
						font-weight: bold;
						color: #f0425a;
						word-break: break-all;

						@media (prefers-color-scheme: dark) {
							color: #81ffa9;
						}
					`}
				>
					孅いウェブエンジニアブログ
				</h1>
			</a>
			{
				pathList.map((path, index) => {
					return (
						<>
							<div
								class={css`
									display: inline-block;
									font-size: 18px;
									font-weight: bold;
								`}
							>
								/
							</div>
							<a
								href={path.url}
								class={cx(
									css`
										font-size: 18px;
										font-weight: bold;
										color: #f0425a;
										word-break: break-all;

										@media (prefers-color-scheme: dark) {
											color: white;
										}
									`,
									index === pathList.length - 1 &&
										css`
											color: #464646;

											@media (prefers-color-scheme: dark) {
												color: #f0425a;
											}
										`
								)}
							>
								{path.name}
							</a>
						</>
					);
				})
			}
		</div>
		<div
			class={css`
				position: fixed;
				top: 37px;
				left: 30px;
				font-size: 15px;
				transform: translateY(-10px);
				transition-duration: 300ms;
				transition-property: transform, opacity;
				user-select: none;
				pointer-events: none;
				opacity: 0;

				.title-logo:hover & {
					transform: translateY(0);
					opacity: 1;
				}
			`}
		>
			ｶﾖﾜｲ
		</div>
	</div>
</header>
