---
import type { Blog } from "@/lib/microcms";
import type { MicroCMSListContent } from "microcms-js-sdk";
import hljs from "highlight.js";
import * as cheerio from "cheerio";
// import javascript from "highlight.js/lib/languages/javascript";
import "highlight.js/styles/vs2015.css";

interface Props {
	post: Blog & MicroCMSListContent;
}

const { post } = Astro.props;

const $ = cheerio.load(post.content);
$("pre code").each((_, element) => {
	const result = hljs.highlightAuto($(element).text());
	$(element).html(result.value);
	$(element).addClass("hljs");
});
---

<h2 class="post-title">{post.title}</h2>
<div class="cms-content" set:html={$("body").html()} />

<style>
	.post-title {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.cms-content :global(blockquote) {
		background-color: darkgrey;
		padding: 10px;
		color: white;
	}

	.cms-content > :global(*) {
		margin-bottom: 30px;
	}

	.cms-content :global(h3) {
		border-bottom: 1px solid black;
		margin-bottom: 30px;
		font-size: 20px;
	}

	.cms-content :global(h4) {
		margin-bottom: 30px;
		font-size: 17px;
		text-decoration: underline;
	}
</style>
