/*
* 初期設定
*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 18px;
	line-height: 1.6;
	color: #616161;

	@media (prefers-color-scheme: dark) {
		color: white;
	}
}

*:focus {
	outline: none;
}

:root {
	background-color: white;
}

html,
body {
	width: 100%;
	height: 100%;
}

ul,
ol {
	padding-block-start: 0;
	padding-block-end: 0;
	padding-inline-start: 40px;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

a {
	color: #1976d2;

	@media (prefers-color-scheme: dark) {
		color: #4d93da;
	}
}

img {
	max-width: 100%;
	height: auto;
}
