---
import { ViewTransitions } from "astro:transitions";
import "aki-reset-css";

interface Props {
	title?: string | undefined;
}

const { title } = Astro.props;
const serviceTitle = "彩季のBlogです。";
const pageTitle = title === undefined ? serviceTitle : `${title} | ${serviceTitle}`;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="彩季のブログです。" />
		<meta name="format-detection" content="email=no,telephone=no,address=no" />
		<meta name="author" content="彩季" />
		<!-- Google Tag Manager -->
		<script is:inline>
			// prettier-ignore
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-WQHBNHNL');
		</script>
		<!-- End Google Tag Manager -->
		<link rel="icon" href="/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<title>{pageTitle}</title>
		<script
			async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6914867149724943"
			crossorigin="anonymous"
			is:inline></script>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<ViewTransitions />
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-WQHBNHNL"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->

		<header>
			<a id="title-link" href="/"><h1 id="title">This website is Aki's blog.</h1></a>
		</header>
		<main id="main">
			<slot />
		</main>
		<footer>
			<span id="copy">&copy; 彩季</span>
		</footer>

		<style lang="scss">
			:global(*) {
				font-family: "Noto Sans JP", sans-serif;
			}

			html {
				overflow: hidden;
			}

			body {
				background-color: #eeeeee;
				overflow-y: scroll;
			}

			header {
				padding: 40px 0;
			}

			#title-link {
				display: table;
				color: inherit;
				text-decoration: none;
				margin: 0 auto;
			}

			#title {
				font-size: 25px;
				color: #616161;
				font-weight: 300;
			}

			#main {
				padding: 0 20px;
			}

			footer {
				text-align: center;
				padding: 60px 0;

				#copy {
					display: inline-block;
					color: #616161;
					font-weight: 300;
				}
			}
		</style>
	</body>
</html>
